/* @import-normalize;  */
/* bring in normalize.css styles */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h2 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
